dummy-project/src/main/mule/dummy-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37f13ffc-4395-4a9a-b211-ae8f961d64cc" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="dummy-projectFlow" doc:id="7c4c82bf-ba95-4bec-9de9-6debda7d9a2d" >
		<http:listener doc:name="Listener" doc:id="e610007e-0d71-4b78-bece-4a96ff8c66f0" config-ref="HTTP_Listener_config" path="/kash"/>
		<set-payload value='#["hi dummy"]' doc:name="Set Payload" doc:id="caeef9a4-8dec-4dba-9c55-62b026a7ac45" />
	</flow>
</mule>
